Source: findent
Section: misc
Priority: optional
Maintainer: Willem Vermin <wvermin@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Homepage: http://findent.sourceforge.net
#Vcs-Git: git://git.debian.org/collab-maint/findent.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/findent.git;a=summary

Package: findent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  Indent Fortran sources
 Findent indents Fortran source, fixed and free format, 
 and converts Fortran fixed format to Fortran free format.
 Fortran 2008 compliant
 Interfaces with vim
 Linux and Windows
